{% extends "base.html" %} {% block main %}
<div class="main-box">
    <h1>demo</h1>
    <ul>
        <li><a class="blue f14" href="/line">绘制线</a></li>
        <li><a class="blue f14" href="/shader">着色器demo(有兼容性问题待解决)</a></li>
        <li><a class="blue f14" href="/globe">简单球体</a></li>
        <li><a class="blue f14" href="/animateDemo">运动demo</a></li>
        <li><a class="blue f14" href="/particle">粒子系统</a></li>
        <li><a class="blue f14" href="/particleSprites">粒子系统2</a></li>
        <li><a class="blue f14" href="/cubeImg">正方形贴图</a></li>
        <li><a class="blue f14" href="/viewModel">3D预览之模型观察（引入OrbitControls.js交互控制，引入TGALoader.js进行tag贴图）</a></li>
        <li><a class="blue f14" href="/pullinModel">3D预览之模型引入</a></li>
        <li><a class="blue f14" href="/jsonLoad">3D预览之zakeke模型引入</a></li>
    </ul>
</div>
{% endblock %}